
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

<!--    -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
       <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/sweet-alert.css' %}">
<!--      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">-->
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="">

      </div>
      <div class="login-box" style="text-align:center;padding:50px">
     <span class="label-text" style="text-align:center;padding:50px"> Successfully log out</span>

      </div>

         <div class="login-box" style="text-align:center;padding:50px">
     <span class="label-text" style="text-align:center;padding:50px"> Successfully log out</span>

      </div>
    </section>
   <script src="{% static 'dashboard/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %} "></script>
    <script src="{% static 'dashboard/js/sweet-alert.min.js' %} "></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'dashboard/js/plugins/pace.min.js' %}"></script>
    <script src="{% static 'dashboard/js/actions.js' %} "></script>
<!--    <script src="{% static 'js/basic-upload.js' %} "></script>-->
     <script type="text/javascript" src="{% static 'dashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<!--     <script src="{% static 'js/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>-->
<!--  <script src="{% static 'js/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>-->
<!--  <script src="{% static 'js/jquery-file-upload/js/jquery.fileupload.js' %}"></script>-->



  </body>
</html>